/* === areas === */
header, footer, .container, .container_itens {
    width: 100%;
    margin: 0;
    padding: 1em 0;
}

header {
    background-color: goldenrod;
}

footer {
    background-color: black;
    color: white;
    position: fixed;
    bottom: 0;
}

.container {
    display: grid;
    grid-template-columns: repeat(3, 20em);
    justify-content: center;
}

.container > fieldset {
    margin: 0 10px;
    max-width: 300px;
}


.container_itens {

}

/* === itens === */

* {
    font-family: 'nurito';
    color: black;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 0;
}

::selection{
    background-color: #c49003b2;
}

input[type="date"], input[type="text"], select {
    background-color: rgba(220, 220, 220, 0.5);
    border: 1px black solid;
    height: 2em;
    width: 12em;
    text-align: center;
}

/* Estilo do rótulo da caixa de seleção */
.checkbox-label {
    cursor: pointer;
}
  
/* Estilo do checkbox oculto */
input[type="checkbox"] {
    cursor: pointer;
    border: 1px rgba(100, 100, 100, 1) solid;
    height: 2em;
    width: 12em;
    text-align: center;
}

fieldset{
    padding: 0;
    margin: 0;
    width: 0;
    height: auto;
    display: inline-block;
    border: none;
}

.consultar {
    margin-top: 1em;
    height: 2.2em;
    width: 12.4em;
    background-color: green;
}