/* === areas === */
body {
    padding-bottom: 4em;
}

header, footer, .container, .container_itens {
    width: 100%;
    margin: 0;
    padding: 1em 0;
}

header {
    background-color: goldenrod;
}

footer {
    background-color: black;
    color: white;
    position: fixed;
    bottom: 0;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; /* Alinhar elementos ao redor do centro */
}

.container > fieldset, .container > div {
    flex: 1 0 30%; /* Defina a largura dos elementos de forma que caibam três colunas */
    margin: 10px; /* Adicione margens para espaçamento entre os elementos */
}

.inline-fields {
    display: flex; /* Define o display flex para que os elementos fiquem em linha */
    align-items: center; /* Alinha os elementos verticalmente ao centro */
}

.inline-fields legend {
    margin-right: 10px; /* Adiciona uma margem à direita para separar a legenda do input */
}

/* === itens === */

* {
    font-family: 'nurito';
    color: black;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 0;
}

::selection{
    background-color: #c49003b2;
}

input[type="date"], input[type="text"], input[type="number"], select{
    background-color: #ffbb00b2;
    border: 1px black solid;
    height: 2em;
    width: 12em;
    text-align: center;
}
  
input[type="checkbox"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin-top: 0.3em;
    margin-bottom: -0.8em;
    width: 1.99em;
    height: 1.99em;
    background-color: #ffbb00b2;
    border-radius: 4px;
    border: 1px solid black;
    cursor: pointer;
}

input[type="checkbox"]:checked {
    background-color: green;
}

fieldset{
    padding: 0;
    margin: 0;
    width: 0;
    height: auto;
    display: inline-block;
    border: none;
}

.consultar {
    border: black 1px solid;
    margin-top: 2em;
    height: 2em;
    width: 16em;
    background-color: green;
}

.container_itens {
    display: flex;
    flex-wrap: wrap;
}

.itens {
    flex: 1 0 40%; /* Isso divide o espaço em duas colunas */
    height: 2em;
    background-color: rgb(110, 110, 190);
    box-sizing: border-box; /* Isso garante que a largura inclua padding e bordas */
    padding: 5px; /* Adicione algum espaço interno para separar os itens */
    margin: 5px; /* Adicione algum espaço externo entre os itens */
}

@media (max-width: 900px) {
    .itens {
        flex-basis: 90%; /* Altera a base flexível para 100%, tornando-a uma única coluna */
    }

    .container > fieldset {
        flex-basis: 100%; /* Altera a base flexível para 100%, tornando-a uma única coluna */
    }

    input[type="date"], input[type="text"], select {
        width: 70%;
    }
}